<h1>Listing weddings</h1>

<table>
  <tr>
    <th>Couple</th>
    <th>Title</th>
    <th>Story</th>
    <th>Groom name</th>
    <th>Bride name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @weddings.each do |wedding| %>
  <tr>
    <td><%= wedding.couple_id %></td>
    <td><%= wedding.title %></td>
    <td><%= wedding.story %></td>
    <td><%= wedding.groom_name %></td>
    <td><%= wedding.bride_name %></td>
    <td><%= link_to 'Show', wedding %></td>
    <td><%= link_to 'Edit', edit_wedding_path(wedding) %></td>
    <td><%= link_to 'Destroy', wedding, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wedding', new_wedding_path %>
